<div id="leo_break_fixed">
	<div class="leo_white_overlay"></div>
	<div class="leo_break_cont leo_pending_warn">
		<div class="leo_icons_cont">
			<img src="{{EXT_FOLDER}}images/logo.png" width="90" />
		</div>
		<span>Hi #FIRSTNAME#,</span>
		<span>I’ve noticed you have more than 2,500 pending connection requests. To avoid getting your account blocked, please withdraw to less than 1,000.</span>
		<button class="search-result__actions--primary button-secondary-medium m5" id="redirect_to_crm">Click here to Withdraw</button>
	</div>
</div>