<div class="">
    <div class="contacts row" style="text-align: center;width: 600px;margin-left: calc(50% - 300px);margin-top:30px;">
	    <div class="card__body" style="display: inline-block;width: 600px;">
	    	<label style="font-size: 16px;">Why do you want to cancel your plan?</label>
	        <textarea placeholder="Please help us understand why you want to cancel the plan" style="float: left;font-size:16px;display: inline-block;resize: none;text-align: left;width: 100%;max-width: 100%;" rows="8" ng-model="reason"></textarea>
	    </div>
	    <div style="display: inline-block;margin-top: 20px;">
	        <input type="button" id="cancel_submit" ng-click="cancelSubscription()" value="Submit" class="btn btn-lg btn-primary" />
	    </div>
	</div>
</div>