<div class="">
    <div class="contacts row contacts_row">
        <div class="card__body">
            <div class="table-responsive">
                <table id="data-table" class="table">
                    <thead>
                        <tr>
                            <th data-column-id="profile_id" data-identifier="true" data-visible="false"></th>
                            <th data-column-id="rec_name" data-header-css-class="col-md-3" data-formatter="nameWithLink">Name</th>
                            <th data-column-id="url" data-identifier="true" data-visible="false"></th>
                            <th data-column-id="name" data-identifier="true" data-visible="false"></th>
                            <th data-column-id="content" data-header-css-class="col-md-6">Message</th>
                            <th data-column-id="date_sent" data-header-css-class="col-md-2" data-formatter="dateSent">Date Sent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="comm in comms" ng-if="comm.type == 'InMail'">
                            <td ng-bind="comm.profile_id"></td>
                            <td ng-bind="comm.rec_name"></td>
                            <td ng-bind="comm.profile_url"></td>
                            <td ng-bind="comm.rec_name"></td>
                            <td ng-bind="comm.content"></td>
                            <td ng-bind="comm.date_sent"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>