<div class="">
    <div class="contacts row contacts_row">
	    <div class="card__body">
	        <div class="table-responsive">
	            <table id="data-table" class="table">
	                <thead>
	                    <tr>
	                        <th data-column-id="id" data-identifier="true" data-visible="false"></th>
	                        <th data-column-id="tenant_id" data-css-class="text-center" data-header-css-class="col-md-2 text-center" data-formatter="leonardID">Leonard ID</th>
	                        <th data-column-id="firstName" data-header-css-class="col-md-1" data-formatter="notAvailableFN">Firstname</th>
	                        <th data-column-id="profile_url" data-header-css-class="col-md-6" data-formatter="notAvailableLU">LinkedIn Profile URL</th>
	                        <th data-column-id="renewal_date" data-header-css-class="col-md-2" data-formatter="renewalDate">Renewal date</th>
	                        <th data-column-id="id" data-header-css-class="col-md-2" data-formatter="deleteButton"></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr ng-repeat="item in tenants" ng-if="item.admin_id != item.tenant_id">
	                        <td ng-bind="item.id"></td>
	                        <td ng-bind="item.tenant_id"></td>
	                        <td ng-bind="item.user.firstname"></td>
	                        <td ng-bind="item.user.linkedin_profile_url"></td>
	                        <td ng-bind="subscription.data[0].current_period_end"></td>
							<td ng-bind="item.id"></td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
</div>
<div class="modal fade" id="modal--default" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add profile(s)</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <!-- <input type="number" class="form-control input-sm" ng-model="quantity" placeholder="Enter number of profiles you want to add" min="1" max="100" /> -->
                    <select ng-model="quantity" style="font-size: 20px;width: 100%;"><option ng-repeat="item in profile_count" value="{{item}}">{{item}}</option></select>
                    <i class="form-group__bar"></i>
                </div>
	            <div>
	            	<h4>Notice: You'll be charged <span style="color:red">${{quantity*29}}/month</span></h4>
	            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn leo-btn leo-btn-success" ng-click="addNewProfile()" data-dismiss="modal">Submit</button>
                <button type="button" class="btn leo-btn leo-btn-danger" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal--assign" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Leonard ID</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" ng-model="leonard_id" placeholder="Enter Leonard ID" maxlength="24" />
                    <i class="form-group__bar"></i>
                </div>
	            <div>
	            	<h4>Notice: You're upgrading Leonard profile to Enterprise.</h4>
	            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn leo-btn leo-btn-success" ng-click="assignProfile()" data-dismiss="modal">Submit</button>
                <button type="button" class="btn leo-btn leo-btn-danger" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>